@model TesteCSharp_Ednilson.Models.Empresa

@{
    Layout = null;
    ViewBag.Title = "Details";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Detalhes Empresa</h4>
        </div>
        
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NomeFantasia)
                </dt>
        
                <dd>
                    @Html.DisplayFor(model => model.NomeFantasia)
                </dd>
        
                <dt>
                    @Html.DisplayNameFor(model => model.UF)
                </dt>
        
                <dd>
                    @Html.DisplayFor(model => model.UF)
                </dd>
        
                <dt>
                    @Html.DisplayNameFor(model => model.Cnpj)
                </dt>
        
                <dd>
                    @Html.DisplayFor(model => model.Cnpj).ToString().Insert(2, ".").Insert(6, ".").Insert(10, "/").Insert(15, "-")
                </dd>
        
            </dl>
        </div>
        
        <div class="modal-footer">
            <input type="button" value="Fechar" class="btn btn-default" data-dismiss="modal" />
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->