@{
    ViewBag.Title = "Index";
}

<h2>Fornecedores</h2>

@Html.Hidden("EmpresaCnpj", (string)ViewBag.EmpresaCnpj)

<div class="form-horizontal" style="background-color: aliceblue;">
    <fieldset style="margin-bottom: 30px;">
        <div class="row margem-lrtp-20">


            <div class="col-sm-2 margem-lr-10">
                <div class="form-group">
                    Nome
                    @Html.TextBox("txtFiltroNome", null, htmlAttributes: new { @class = "form-control ntooltip", title = "Informe o nome ou parte do nome." })
                </div>
            </div>

            <div class="col-sm-2 margem-lr-10">
                <div class="form-group">
                    Cpf/Cnpj
                    @Html.TextBox("txtFiltroCpfCnpj", null, htmlAttributes: new { @class = "form-control ntooltip", title = "Informe o Cnpj ou parte do Cnpj." })
                </div>
            </div>

            <div class="col-sm-2 margem-lr-10">
                <div class="form-group">
                    Data inicial
                    @Html.TextBox("dtpFiltroDataInicial", null, htmlAttributes: new { @class = "form-control ntooltip", title = "Informe o período inicial.", type = "date" })
                </div>
            </div>
            <div class="col-sm-2 margem-lr-10">
                <div class="form-group">
                    Data final
                    @Html.TextBox("dtpFiltroDataFinal", null, htmlAttributes: new { @class = "form-control ntooltip", title = "Informe o período final.", type = "date" })
                </div>
            </div>

            <div class="col-sm-1">
                <br />
                <button type="button" class="btn btn-primary ntooltip" title="Pesquisar" onclick="CarregaPartialIndex(); return true;">
                    <span class="glyphicon glyphicon-search"</span> Pesquisar
                </button>
                &nbsp;
            </div>

            <div class="col-sm-1">
                <br />
                <div class="container">
                    <button type="button" class="btn btn-info ntooltip create" title="Cadastra novo fornecedor" style="margin-left: 8px;">
                        <span class="glyphicon glyphicon-plus"></span> Cadastrar
                    </button>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </fieldset>

</div>
<div id="divIndexFornecedor">
</div>

<!-- Modal -->
<div class="modal" id="modal">
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    <script src="~/Scripts/App/Fornecedor.js"></script>
}

