@model TesteCSharp_Ednilson.Models.Fornecedor

@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dados do fornecedor</h4>
    </div>
    <div class="modal-body">

        <div class="form-horizontal">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Cpf_Cnpj)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cpf_Cnpj)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DataCadastro)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DataCadastro)
                    </dd>

                    @if (Model.Tipo_Pessoa == "F")
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Rg)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Rg)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DataNascimento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DataNascimento)
                        </dd>
                    }


                    <dt>
                        Telefones
                    </dt>

                    @foreach (var item in Model.Telefone)
                    {
                        <dd>
                            @Html.DisplayFor(model => item.Numero)
                        </dd>
                    }

                </dl>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="btnCancelExclui" class="btn btn-default" data-dismiss="modal">Fechar</button>
    </div>
</div>