@model TesteCSharp_Ednilson.Models.Fornecedor

@{
    Layout = null;
}

@Html.AntiForgeryToken()

@using (Html.BeginForm("DeleteConfirmed", "Fornecedor"))
{
    @Html.AntiForgeryToken()
}

<style>
    #todo {
        margin: 0 auto;
        width: 500px;
    }

    a.close {
        float: initial;
    }
</style>

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Atualizar dados do fornecedor</h4>
    </div>
    <div class="modal-body">

        <div class="form-horizontal">
            @Html.HiddenFor(model => model.Empresa_Cnpj)
            @Html.HiddenFor(model => model.Tipo_Pessoa)

            <div class="form-group">
                @Html.LabelFor(model => model.Tipo_Pessoa, htmlAttributes: new { @class = "control-label col-md-4", style = "text-align: end;" })


                @if (Model.Tipo_Pessoa == "F")
                {
                    <div class="col-md-8">
                        <input type="radio" Input="Disabled" checked="checked"> Física<br>
                        <input type="radio" Input="Disabled"> Jurídica<br>
                    </div>
                }
                else
                {
                    <div class="col-md-8">
                        <input type="radio" Input="Disabled"> Física<br>
                        <input type="radio" Input="Disabled" checked="checked"> Jurídica<br>
                    </div>
                }
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cpf_Cnpj, "Cpf/Cnpj", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @if (ViewBag.create == true)
                    {
                        @Html.EditorFor(model => model.Cpf_Cnpj, new { htmlAttributes = new { @class = "form-control cnpj ntooltip", title = "Informe o Cnpj do fornecedor." } });
                    }
                    else
                    {
                        @Html.EditorFor(model => model.Cpf_Cnpj, new { htmlAttributes = new { @class = "form-control cnpj  ntooltip", title = "Informe o Cnpj do fornecedor.", @Input = "Disabled", @readonly = "readonly" } });
                    }
                    @Html.ValidationMessageFor(model => model.Cpf_Cnpj, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control ntooltip", title = "Informe o nome do fornecedor." } })
                    <span id="spnnomeerr" class="spanerr"></span>
                </div>
            </div>

            @if (Model.Tipo_Pessoa == "F")
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Rg, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Rg, new { htmlAttributes = new { @class = "form-control ntooltip", title = "Informe o Rg do fornecedor." } })
                        <span id="spnrgerr" class="spanerr"></span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DataNascimento, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control ntooltip", title = "Informe data de nascimento do fornecedor." } })
                        <span id="spndataerr" class="spanerr"></span>
                    </div>
                </div>
            }

            <div class="form-group">
                <label class="control-label col-md-4">Telefones</label>
                <div class="col-md-8" style="display: flex;">
                    <input class="form-control text-box single-line phone ntooltip" title = "Informe um telefone." data-val="true" data-val-length-max="20" id="Telefone" name="Telefone" type="text" />
                    <span id="spntelerr" class="spanerr"></span>
                    <button type="button" class="btn btn-info btn-circle ntooltip" title = "Adicionar telefone à lista." style="margin-left: 5px;" id="btnAddFone"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4"></label>
                <div class="col-md-8">
                    <ul id="todo">
                        @foreach (var item in Model.Telefone)
                        {
                            <ul><div name='ulFone' style="float: left;">@item.Numero</div><a href="#" class="close ntooltip" title = "Excluir telefone da lista." aria-hidden="true"> × </a></ul>
                        }
                    </ul>
                </div>
            </div>

            <div class="container">
                <div id="msgSucesso" class="alert alert-success col-md-5" style="display:none">
                    <strong>Successo!</strong> Os dados foram salvos.
                </div>
                <div id="msgErro" class="alert alert-danger col-md-5" style="display:none">
                    <strong>Erro!</strong> Não foi possível salvar os dados da empresa.
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Salvar" class="btn btn-default" onclick="SalvaEditFornecedor()" />
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    </div>
</div>
