@model IEnumerable<TesteCSharp_Ednilson.Models.Fornecedor>

@{
    Layout = null;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cpf_Cnpj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Pessoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf_Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            @if (item.Tipo_Pessoa == "F")
            {
                <td>Física</td>
            }
            else
            {
                <td>Jurídica</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                <button class="btn btn-sm btn-info ntooltip edit" title="Editar dados fornecedor" data-id='["@item.Empresa_Cnpj", "@item.Cpf_Cnpj"]' type="button">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>

                <button class="btn btn-sm btn-warning ntooltip details" title="Detalhes fornecedor" data-id='["@item.Empresa_Cnpj", "@item.Cpf_Cnpj"]' type="button">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </button>

                <button class="btn btn-sm btn-danger ntooltip delete" title="Exclui fornecedor"  data-id='["@item.Empresa_Cnpj", "@item.Cpf_Cnpj"]' type="button">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")

    <script src="~/Scripts/App/Fornecedor.js"></script>
}
