<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ednilson C. Tavares</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/tooltipster")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Teste Bludata", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>


                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cadastros <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">@Html.ActionLink("Empresa", "Edit", "Empresa")</a></li>
                            <li><a href="#">@Html.ActionLink("Fornecedores", "Index", "Fornecedor")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="indexcontainer">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ednilson C. Tavares</p>
        </footer>
    </div>

    <script>
        var baseUrl = @Html.Raw(Json.Encode(Url.Content("~")));
    </script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jquerymask")
    @Scripts.Render("~/bundles/tooltipster")

    <script>
        $(document).ready(function () {
            $('.ntooltip').tooltipster({
                theme: 'tooltipster-shadow',
                plugins: ['follower']
            });
        });
    </script>
</body>
</html>
